$profile: '.profile';
#{$profile}{
    &-image{
        margin: 0;
        margin-right: #{$spc-24}px;
        overflow: hidden;
        @include radius(50%);
        @include size(140px);
        @include min-size(140px);
    }

    &-call{
        @include radius(25px);
        font-size: $typo-sz-sm;
    }

    &-appoint{
        font-size: $typo-sz-sm;
        font-weight: bold;
        @include radius(25px);
    }

    &-accept{
        color: $color-pm;
        font-size: $typo-sz-sm;
    }

    &-dotseparator{
        font-size: 4px;
    }

    &-practice{

        & > span{
            vertical-align: middle;
        }

        &-item{
            margin-bottom: 32px;

            &:last-of-type{
                margin-bottom: 0;
            }
        }

        &-location{
            font-size: 14px;
            line-height: 1.4;
            display: block;
        }

        &-meta{
            font-size: $typo-sz-sm;
            
            li{
                line-height: 1.75;
            }
        }
    }

    //Star Ratings

    &-starone{
        svg:nth-child(1){
            color: $color-yl;
        }
    }

    &-startwo{
        svg:nth-child(1), svg:nth-child(2){
            color: $color-yl;
        }
    }

    &-starthree{
        svg:nth-child(1), svg:nth-child(2), svg:nth-child(3){
            color: $color-yl;
        }
    }

    &-starfour{
        svg:nth-child(1), svg:nth-child(2), svg:nth-child(3), svg:nth-child(4){
            color: $color-yl;
        }
    }

    &-starfive{
        svg:nth-child(1), svg:nth-child(2), svg:nth-child(3), svg:nth-child(4), svg:nth-child(5){
            color: $color-yl;
        }
    }

    //Practitioner
    &-practitionerimage{
        @include size(80px);
        overflow: hidden;
        margin-bottom: 0;
    }

    &-practitionername{
        h4{
            a{
                color: darken($color-gr-dk, 50%);
                text-decoration: none;
                @include transition(color 0.33s);

                &:hover{
                    color:  darken($color-gr-dk, 70%);
                }
            }
        }
    }
}