//Includes: Site Colors | Text Colors | Shades of Grays
//Variable Prefix: $color-

$color-pm: #3056f5;
$color-pm-hov: #1336C9;

$color-gn: #29bf12;
$color-yl: #EDBD06;
$color-rd: #F43460;

//Text Shades
$color-heading: #333131;
$color-subheading: #28272e;
$color-txt: #110F24;
$color-gr-dk: #CCCED0;
$color-gr-md: #ECECEE;
$color-gr-lt: #F6F6F9;
$color-border: #e9ebef;

$color-gn-dark: #2a9134;

//Input
$color-pl: #b9babd;
$color-in-bg: #f9fafc;