//Includes: Site Colors | Text Colors | Shades of Grays
//Variable Prefix: $color-

$color-pm: #176BFB;
$color-gn: #16C941;
$color-yl: #EDBD06;
$color-rd: #F43460;

//Text Shades
$color-txt: #110F24;
$color-gr-dk: #CCCED0;
$color-gr-md: #ECECEE;
$color-gr-lt: #F6F6F9;