$site: '.site';

#{$site}{

    &-hero{
        background: url('../images/hero-image.png') no-repeat center left;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        position: relative;

        &-overlay{
            position: absolute;
            top:0;
            left: 0;
            mix-blend-mode: multiply;
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(60, 59, 59, 0.46) 67%, #2b2929);
            @include size(100%);
            z-index: 1;
        }

        &-spacing{
            padding: calc(#{$spc-48}px*0.625) calc(#{$spc-48}px*1.25);
            position: relative;
            z-index: 10;
        }

        &-formspc{
            // padding-top: calc(#{$spc-48}px*3.5);
            padding-top: 7%;
        }

        &-form{
            width: 100%;
            max-width: 535px;
        }

        &-formbox{
            padding: 30px;
            padding-bottom: 0;
            overflow: hidden;
            background: #fff;
            @include radius(4px);
        }

        .site-nav{
            li{
                padding:0 20px;

                a{
                    color: #fff;
                }
            }
        }
    }

   &-header{
       padding: #{$spc-16}px 0;
       position: relative;
       z-index: 100;
       @include shadow(0px 0px 2px 2px rgba(0,0,0,0.1));
   } 

   &-nav{
       padding-left: #{$spc-24}px;

       li{
           padding: 0 #{$spc-8}px;

           &:last-child{
               padding-right: 0;
           }
       }

       a{
           text-decoration: none;
        //    color: lighten($color-txt, 18%);
            color: darken($color-gr-dk, 30%);
            @include transition(color 0.33s);

           &:hover{
               color: $color-txt;
           }
       }
   }

   &-profile{
       padding: {
           top: #{$spc-32}px;
       };
       background: $color-gr-lt;
   }

   &-footer{
       padding: #{$spc-32}px;
       background-color: darken($color-pm, 40%);

       & > *{
           color: #fff;
       }

       &-nav{
           padding-bottom: #{$spc-32}px;
           border-bottom: 1px solid rgba(255,255,255,0.2);

           li{
               line-height: 1.75;

               a{
                   color: rgba(255,255,255, 0.9);
                   text-decoration: none;
                   font-size: $typo-sz-sm;
               }
           }
       }
   }

   //Thank You Page
   &-thankyou{
       position: relative;

       &:before, &:after{
            position: absolute;
            content: '';
            top: 0;
            width: 50%;
            height: 100%;
       }

       &:before{
           left: 0;
           background: $color-pm;
       }

       &:after{
           right: 0;
       }
   }
}